<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Backwater Booking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Packages</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        <li class="nav-item ms-lg-3 me-2">
          <a class="btn btn-outline-light rounded-pill px-3" href="/login">Login</a>
        </li>
        <li class="nav-item me-2">
          <a class="btn btn-success rounded-pill px-3" href="/register">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
